.popup__input-error {
    display: inline-block;
    color: transparent;
    block-size: 30px;
    padding-block-start: 5px;
}

.popup__input-error_active {
    color: red;
    font-size: 12px;
    line-height: 1.21;
}